# App / DB
MONGO_URI=mongodb://127.0.0.1:27017/visionvault
APP_BASE_URL=http://localhost:8080
PORT=8080

# SMTP
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false        # true if using port 465 (SMTPS)
EMAIL_USER=ur_email
EMAIL_PASS=pass
EMAIL_FROM_NAME=VisionVault
EMAIL_FROM_ADDRESS=ur_email

# Eventbrite
EVENTBRITE_TOKEN=your_eventbrite_personal_oauth_token

# Session secret
SESSION_SECRET=random_string
